version: 0.2

phases:
  install: 
    runtime-versions:
      nodejs: 10
    commands: 
      - echo installing node modules
      - cd src
      - npm run installs
      - echo finished installing node modules
  build:
    commands:
        - echo running build scripts
        - npm run compile
        - npm run build-and-zip
  terraform-init:
    commands:
      - echo running terraform scripts
      - cd terraform 
      - terraform init
  terraform-apply:
    commands
      - echo running terraform apply
      - terraform apply -auto-approve
