version: 0.2

phases:
  install: 
    runtime-versions:
      nodejs: 10
    commands: 
      - echo installing node modules
      - cd src
      - npm run installs
      - echo finished installing node modules
  build:
    commands:
        - echo running build scripts
        - npm run compile
        - npm run build-and-zip
        - npm run terraform-init
  post_build:
    commands:
      - echo running terraform scripts
      - npm run terraform-apply
